# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Secretos y entornos locales
.env
.env.*
!.env.example

# Frontend
node_modules/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
